header
{ background-color: firebrick;
  font-family: "Georgia", "fantasy";
  font-size: 4em;
}
aside {
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 5px;
  margin-right: 6px;
  float: right;
}
footer
{ background-color: firebrick;
  font-family: "Georgia", "fantasy";
  font-size: 1em;
}
